spring:
  datasource:
    hikari:
      minimum-idle: 10
      maximumPoolSize: 20
      connectionTimeout: 15000
      dataSourceProperties:
        socketTimeout: 10
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://ec2-54-217-214-201.eu-west-1.compute.amazonaws.com:5432/dc4hb17n6gdggs
    username: ztzzdrovhletgd
    password: 0b0d1682a0979f33ef75e12c899c0d1122cdb841d310bc0837fafaf96db66f58


  jpa:
    generate-ddl: true
    show-sql: true
    properties:

      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL82Dialect
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        # Fix Postgres JPA Error:
        # Method org.postgresql.jdbc.PgConnection.createClob() is not yet implemented.
        temp.use_jdbc_metadata_defaults: false


  # Mustache template
  mustache:
    charset: UTF-8
    #expose-request-attributes: true