<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="header" class="header-font">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand font-weight-bold" href="#">SearchHack</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse profile-navbar" id="navbarNav">
				<ul class="navbar-nav ml-auto ">
					<li style="margin-right: 25px;"><div class="btn-group "
							id="notificationIcon">
							<button type="button"
								class="btn btn-dark text-warning dropdown-toggle"
								aria-haspopup="true" data-toggle="dropdown"
								aria-expanded="false" onclick="showNotif()">
								<i class="fas fa-bell text-white" id="bellIcon"></i>
							</button>
							<div
								class="card dropdown-menu dropdown-menu-right notifList  text-white bg-secondary border border-secondary border-3"
								style="width: 600px; height: 400px; display: none; overflow-y: auto;"
								id="notifList">
								<div class="card-header text-warning">
									<h3>Оповещения</h3>
								</div>
								<div class="card-body" id="notificationWindow"></div>
							</div>
						</div></li>
					<li class="nav-item"><a class="nav-link" href="/profile"
						id="profile"> <i class="far fa-address-card"></i> Профиль
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/teams" id="teams"><i
							class="fas fa-users"></i> Команды</a></li>
					<li class="nav-item"><a class="nav-link" href="/hacks"
						id="hacks"><i class="far fa-calendar-alt"></i> Хакатоны</a></li>
					<li class="nav-item"><a class="nav-link" href="/events"
						id="notifications"><i class="far fa-comment-alt"></i>
							Уведомления <span class="badge badge-pill badge-light text-dark"
							id="newNotificationCounter"
							style="visibility: hidden; width: 60px;"> 0</span></a></li>


					<li>
						<div class="btn-group">
							<button type="button"
								class="btn-sm  btn-dark dropdown-toggle border-0"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<img
									src="https://bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg"
									class="img-responsive rounded profile-image" />
							</button>
							<div class="dropdown-menu dropdown-menu-right"
								style="font-size: 20px;">
								<a class="dropdown-item" href="#"><i class="fas fa-cogs">
								</i> Настройки</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"> <i
									class="fas fa-sign-out-alt"></i> Выход
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		
		<script id="notifItem" type="text/jquery-tmpl">
				<div id="${id}">
					<i class="fas fa-envelope"></i> ${message}
					<button onclick=" return showRef('${resourceHackReference.uuid}')" class="btn-sm btn-dark">Ссылка</button>
					<button onclick=" updateNotification(${id})"
					class="btn btn-danger float-right">X</button>
				</div>
				<div class="dropdown-divider" id="${id}-divider"></div>
		</script>


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js">
			
		</script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>

		<script src="/js/profileMenu.js?12212333323"></script>
		
	</div>
		
</body>
</html>