<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите имя"/>
        <button type="submit">Добавить пользователя</button>
    </form>
</div>
<div>Список отсортированных юзерков</div>
<form method="post" action="filter">
    <input type="text" name="filter" placeholder="Найти">
    <button type="submit">Найти имя в бд</button>
</form>
<div>Список</div>
{{#users}}
    <div>
        <b>{{id}}</b>
        <span>-></span>
        <i>{{name}}</i>
    </div>
{{/users}}
</body>
</html>