<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/loadingAnimation.css?122332241}">
<link rel="stylesheet" th:href="@{/css/hack.css?as122}"
	href="../static/css/hack.css">

<link href="https://fonts.googleapis.com/css?family=Poiret+One"
	rel="stylesheet">
<title>TeamProfile</title>
</head>
<body onload="loadHackProfile()" class="body-font">
	<div th:replace="fragments/profile_header :: header" />
	<br>
	<br>
	<span id="hackUuid" th:text="${hackUuid}" style="visibility: hidden;">${hackUuid}</span>
	<br>
	<div class="container card profile-card border-dark rounded"
		id="userProfile">
		<div class=" row">
			<div class="userInfo  row">
				<div class="avatar col-md-3" style="margin-left: 20px;">
					<img
						src="https://bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg"
						class=" rounded  profile-avatar" alt="Avatar"> <br> <br>
					<div class="text-left col-md">
						<label for="hackName" class="font-weight-bold"> Статус: <span
							id="hackStatus">Не проверен</span>
						</label>
					</div>
					<button id="deleteButton" onclick="return showDeleteAlert();"
						class="btn bg-danger text-light" style="display: none;">Удалить
						объявление</button>
				</div>
				<div class="userData col-md-6">

					<div>
						<div id="hackName"
							class=" text-center font-weight-bold profile-nick">Название
							хакатона</div>
						<br>
						<div class="contacts">

							<br>
							<div class="text-left ">
								<label for="creationDate " class="font-weight-bold">Дата
									проведения: <span id="creationDate" class="font-italic"></span>
								</label>

							</div>

							<div class="text-left ">
								<label for="duration " class="font-weight-bold">Продолжительность:
									<span id="duration" class="font-italic"></span>
								</label>
							</div>

							<div class="text-left ">
								<label for="compName" class="font-weight-bold">
									Организатор: <span id="compName" class="font-italic"></span>
								</label>

							</div>
							<div class="text-left ">
								<label for="source" class="font-weight-bold"> Источник:
									<span id="source" class="font-italic"></span>
								</label>

							</div>
							<div class="text-left ">
								<label for="auditory" class="font-weight-bold">
									Аудитория: <span id="auditory" class="font-italic"></span>
								</label>

							</div>
						</div>

						<br> <label for="hack-tags" class="font-weight-bold">Хештеги
						</label>
						<div class="card">
							<div id="hack-tags" class="card-body row "></div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="extraInfo profile-info-top">
			<div class="card" style="margin-top: 10px;">
				<div class="card-header bg-dark text-light font-weight-bold">Описание</div>
				<div class="card-body">
					<div class="col-md-10 text-center">
						<div id="aboutHack">ОПИСАНИЕ</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class=" card" style="margin-top: 10px;">
						<div class="card-header bg-dark text-light font-weight-bold">Место
							проведения</div>
						<div class="card-body">



							<div class="border border-success">
								<div id="map" style="width: 100%; height: 400px;"></div>
							</div>
							<div class="border border-success">
								Адрес: <span id="address"></span>
							</div>



						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card " style="margin-top: 10px;">
						<div class="card-header bg-dark text-light font-weight-bold">Участники</div>
						<div class="card-body">

							<div class="text-left ">
								<div id="creationDate" class="font-italic">
									Команд: <span id="regTeamCOunter"></span>
									<hr>
								</div>
								<div id="hackteams" class="text-center"></div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div th:replace="fragments/footer :: footer" />


	<script id="team_item" type="text/jquery-tmpl">
									<div class="containter col-md card ">
										<div class="card-body row">
											<div class="col-md-2">
												<img
													src="https://image.freepik.com/free-icon/no-translate-detected_318-44341.jpg"
													class="img-responsive rounded  profile-avatar" alt="Avatar" style="height: 50px; width: 50px;">
											</div>
											<div class="col-md-10 row">
												<div id="teamName" class="col-md-6">${name}</div>
												<div id="teamMemberCounter" class="col-md-2">${memberCounter}</div>
												<a href="/teamProfile/${uuid}" class="btn btn-dark rounded border-light text-light col-md-4" id="teamName" style="height: 40px;">Команда</a>
											</div>
										</div>
									</div>
		</script>

	<script id="tag-info" type="text/jquery-tmpl">
				<div  class=" tag-padding">
				<button onclick="return false;" class="btn bg-dark text-warning  btn-sm" readonly> ${tagName}  </button>
				</div>
		</script>

	<div id="deleteAlert" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удаление хакатона</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Вы уверены?</p>
				</div>
				<div class="modal-footer">
					<button onclick="return deleteHack()" type="button"
						class="btn btn-danger">Подтвердить</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js">
		
	</script>
	<script
		src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=4fa6aa42-d9bb-4b62-9e6b-77d1ce2ff058"
		type="text/javascript"></script>
	<script src="/js/hackView.js?122"></script>

</body>
</html>





