<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/loadingAnimation.css?122332241}">
<link rel="stylesheet" th:href="@{/css/hack.css?as122}"
	href="../static/css/hack.css">

<link href="https://fonts.googleapis.com/css?family=Poiret+One"
	rel="stylesheet">
<title>TeamProfile</title>
</head>
<body onload="loadTeamProfile()" class="body-font">
	<div th:replace="fragments/profile_header :: header" />
	<br>
	<br>
	<span id="teamUuid" th:text="${teamUuid}" style="visibility: hidden;">${teamUuid}</span>
	<br>
	<div class="container card profile-card border-dark rounded"
		id="userProfile">
		<div class=" row">
			<div class="userInfo  row">
				<div class="avatar col-md-3" style="margin-left: 20px;">
					<img
						src="https://bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg"
						class=" rounded  profile-avatar" alt="Avatar"> <br> <br>
					<div id="captainPanel" style="display: none;">
						<button onclick="updatePage()" class="btn bg-dark text-light"
							style="margin: 2px;">Редактировать</button>
						<button onclick="return showSearchMembers()"
							class="btn bg-dark text-light" style="margin: 2px;">Пригласить
							в команду</button>
						<button onclick="return showDeleteAlert()"
							class="btn bg-danger text-light" style="margin: 2px;">Удалить
							команду</button>
					</div>
				</div>
				<div class="userData col-md-6">

					<div>
						<div id="teamName"
							class=" text-center font-weight-bold profile-nick">Название
							команды</div>
						<br>
						<div class="contacts">

							<br>
							<div class="text-left ">
								<label for="creationDate " class="font-weight-bold">Дата
									создания: <span id="creationDate" class="font-italic"></span>
								</label>

							</div>


						</div>
						<div class="text-left ">
							<label class="font-weight-bold"> Название хакатона: <span
								id="hackName" class="font-italic"></span> <a id="hackLink"
								class="btn-sm btn-info" href="">Подробнее</a>
							</label>
						</div>

						<br> <label for="team-tags" class="font-weight-bold">Хештеги
						</label>
						<div class="card">
							<div id="team-tags" class="card-body row "></div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="extraInfo profile-info-top">
			<div class="card" style="margin-top: 10px;">
				<div class="card-header bg-dark text-light font-weight-bold ">О
					команде</div>
				<div class="card-body">
					<div class="col-md-10 text-center">
						<div id="aboutTeam"></div>
					</div>
				</div>
			</div>

			<div class="card" style="margin-top: 10px;">
				<div class="card-header bg-dark text-light font-weight-bold">
					Участники ( <i class="fas fa-user" id="memberCounter"> 7</i> )
				</div>
				<div class="card-body row">
					<div id="memberList" class="col-md-2 border-right"
						style="height: 600px; overflow-y: scroll;"></div>
					<div class=" col-md-10  text-center" style="display: block;"
						id="profilePlaceholder">
						<h2>Выбирите профиль участника для просмотра</h2>
					</div>
					<div class="col-md-10 " id="memberProfile" style="display: none;">
						<div class="row">
							<div class="userInfo  col-md-8 row ">
								<div class="avatar col-md-4">
									<img
										src="https://bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg"
										class="img-responsive rounded float-left profile-avatar"
										alt="Avatar">

									<button id="sendMessageButton"
										onclick=""
										class="btn-sm btn-success" style="margin: 10px;">
										Написать сообщение</button>
								</div>
								<div class="userData col-md-8">
									<div class="text-left">
										<label for="fio " class="font-weight-bold">ФИО: </label> <span
											id="fio" class="font-italic"> </span>
									</div>
									<div class="text-left">
										<label for="gender " class="font-weight-bold">Пол: </label> <span
											id="gender" class="font-italic"></span>
									</div>
									<div class="text-left">
										<label for="birth " class="font-weight-bold">Дата
											рождения: </label> <span id="birth" class="font-italic"></span>
									</div>
									<div class="text-left">
										<label for="place " class="font-weight-bold">Расположение:
										</label> <span id="place" class="font-italic">г</span>
									</div>
								</div>
							</div>
							<div class="contacts col-md-4">
								<br> <br>
								<div>
									<label for="email " class="font-weight-bold">Email: </label> <span
										id="email" class="font-italic"> </span>
								</div>
								<div>
									<label for="phone " class="font-weight-bold">Телефон: </label>
									<span id="phone" class="font-italic"> </span>
								</div>
								<div>
									<label for="skype " class="font-weight-bold">Skype: </label> <span
										id="skype" class="font-italic"> </span>
								</div>
							</div>
						</div>
						<div class="card" style="margin-top: 10px;">
							<div class="card-header bg-dark text-light font-weight-bold">О
								себе</div>
							<div class="card-body">
								<div class="col-md-10 text-center">
									<div id="about"></div>
								</div>
							</div>
						</div>
						<div class="row profile-info-top">
							<div class=" col-md-6 profile-info-left">
								<div class="card">
									<div class="card-header bg-dark text-light font-weight-bold">Образование</div>
									<div id="education" class="card-body">
										<div>
											<label for="institution" class="font-weight-bold">ВУЗ:
											</label> <span id="institution" class="font-italic"> </span>
										</div>
										<div>
											<label for="faculty " class="font-weight-bold">Факультет:
											</label> <span id="faculty" class="font-italic"> </span>
										</div>
										<div>
											<label for="course " class="font-weight-bold">Курс: </label>
											<span id="course" class="font-italic"></span>
										</div>
									</div>
								</div>
							</div>
							<div class=" col-md-6 profile-info-right">
								<div class="card">
									<div class="card-header bg-dark text-light font-weight-bold">Работа</div>
									<div id="career" class="card-body">
										<div>
											<label for="placeOfWork " class="font-weight-bold">Место
												работы: </label> <span id="placeOfWork" class="font-italic">
											</span>
										</div>
										<div>
											<label for="placeOfWork " class="font-weight-bold">Позиция:
											</label> <span id="position" class="font-italic"> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br> <br>
						<div class="text-left col-md-3">
							<button onclick="" id="deleteUserButton" class="btn btn-danger"
								style="display: block;">Исключить</button>
						</div>

					</div>

				</div>
			</div>
			<div class="card" style="margin-top: 10px;">
				<div class="card-header bg-dark text-light font-weight-bold">Чат</div>
				<div class="card-body" id="teamChat"
					style="height: 400px; overflow-y: scroll;"></div>
				<div class="card-footer">
					<div class="form-group row">
						<button onclick="sendMessage()" class="btn btn-success">Отправить</button>
						<div class="col-md-5">
							<input type="text" class="form-control " name="message"
								id="message" placeholder="Введите сообщение" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div th:replace="fragments/footer :: footer" />




	<script id="tag-info" type="text/jquery-tmpl">
				<div  class=" tag-padding">
				<button onclick="return false;" class="btn bg-dark text-warning  btn-sm" readonly> ${tagName}  </button>
				</div>
		</script>

	<script id="memberAvatar" type="text/jquery-tmpl">
				<button onclick="return showMemberProfile(${index})" id="member_${index}">
				 <img
					src="https://bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg"
					class=" rounded  profile-avatar" alt="Avatar"
					style="width: 100%">
				</button>
				<br> <br>
		</script>

	<script id="chatMessage" type="text/jquery-tmpl">
				<div class="col-md-10 ">
						<span class="font-weight-bold text-uppercase"> ${senderName} (${date}): </span>
						<span> ${message} </span>
				</div>
	</script>

	<script id="foundUserRow" type="text/jquery-tmpl">
	<tr>
		<th scope="row">${number}</th>
		<td id="searchAvatar"><img
			src="https://bugaga.ru/uploads/posts/2017-03/1489052030_kotik-hosiko-12.jpg"
			class="img-responsive rounded float-left profile-avatar" alt="Avatar"
			style="height: 35px; width: 35px;"></td>
		<td>${FIO}</td>
		<td>
			<button onclick="return openUserProfileTab('${profileLink}')" class="btn-sm btn-dark text-light">Профиль</button>
		</td>
		<td>
			<button onclick="return sendInvite('${uuid}')" class="btn-sm btn-dark text-success ">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</td>
	</tr>
		</script>


	<div id="deleteAlert" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удаление команды</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Вы уверены?</p>
				</div>
				<div class="modal-footer">
					<button onclick="return deleteTeam()" type="button"
						class="btn btn-danger">Подтвердить</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>

	<div id="messageWindow" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header  text-center bg-dark text-light">
					<h5 class="modal-title ">
						Послать сообщение для <span id="receiverName"></span>
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true" class="text-light">Х</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form  row" name="loginForm">

						<div class="col-md-12 "
							style="padding-left: 10%; padding-right: 10%;">

							<div class="form-group row">
								<label class=" col-md-2 col-form-label form-right"
									for="messageTextarea">Сообщение </label>
								<div class="col-md-10">
									<textarea class="form-control" name="messageTextarea"
										id="messageTextarea" rows="5"></textarea>
								</div>
							</div>

							<hr />
							<button id="sendToUser" onclick=""
								class="btn bg-dark text-success">Подтвердить</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<div id="searchMembers" class="modal fade " tabindex="1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-dark">
					<h4 class="modal-title text-warning">Поиск участников</h4>
					<button class="btn btn-danger" data-dismiss="modal">X</button>
				</div>
				<div class="modal-body">
					<form id="form1" class="form  row" name="loginForm">
						<div class=" col-md-12 "
							style="padding-left: 10%; padding-right: 10%;">

							<div class="row text-center">
								<input type="text" class="form-control col-md-8"
									name="searchUser" id="searchUser"
									placeholder="Введите логин пользователя" />
								<button onclick="return findUsers()"
									class="btn-sm bg-dark text-light" style="margin: 2px;">
									<i class="fas fa-search"></i> Поиск
								</button>
								<button onclick="return clearInput()"
									class="btn-sm bg-dark text-light" style="margin: 2px;">
									<i class="fas fa-trash-alt"></i> Очистить
								</button>
							</div>
							<hr>
							<div id="notFoundMessage" class="text-warning text-center"
								style="display: none">
								<h3>Пользователь не найден!</h3>
							</div>
							<div id="memberSearchList"
								style="height: 600px; overflow: auto; visibility: hidden;">
								<table class="table">
									<thead class="thead-dark">
										<tr>
											<th scope="col">#</th>
											<th scope="col"></th>
											<th scope="col">ФИО</th>
											<th scope="col">Страница профиля</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody id="tableOfUsers">
									</tbody>
								</table>

							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div id="inviteSendAlert" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content border-success">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-warning">Приглашение в команду</h5>
				</div>
				<div class="modal-body">
					<p>Приглашение в команду отправлено</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">ОК</button>
				</div>
			</div>
		</div>
	</div>

	<div id="messageSendAlert" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content border-success">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-warning">Послать сообщение</h5>
				</div>
				<div class="modal-body">
					<p>Сообщение отправлено</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">ОК</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js">
		
	</script>
	<script src="/js/teamProfile.js?112"></script>
</body>
</html>





